#interactiveElement {
    width: 500px;
    height: 500px;
    background-color: hotpink;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.1s ease-out;
    text-align: center;
    align-content: center;
    justify-content: center;
  }

  p {
   padding: 30px;
    color: white;
    font-size: 1.5rem;
    display: block;
  }

  img {
    width: 200px;
    height: 200px;
  }